:root {
    --blue: #1992d4;
    --yellow: #f0b429;
    --gray: #e2e8f0;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}




body {
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
    "sidebar main";
}




.sidebar {
    background-color:var(--blue);
    grid-area: sidebar;
}


.main {
    background-color: var(--gray);
    grid-area: main;
}


.header {
    grid-area: header;
    background-color: white;
}

/* --------------- */
/* SIDEBAR   */

.sidebar img {
    width: 20px;
    height: auto;
}

.sidebar h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.sidebar {
    padding: 1.2rem 2rem;
}


#logo-header {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}

#logo-svg {
    width: 50px;
    fill: white;
}


.logo {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    margin-bottom: 70px;
}


.nav-main {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 25px;
    row-gap: 25px;
    align-items: center;
    margin-bottom: 70px;
}


.nav-user {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 25px;
    row-gap: 25px;
    align-items: center;
}



/* ----------- */
/* HEADER */


.header {
    padding: 15px 60px;
}

.header img {
    width: 25px;
    height: auto;
}


#profile-avatar {
    width: 48px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}


.profile-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.search-panel input {
    border: 0;
    background-color: var(--gray);
    outline: 0;
    width: 85%;
    min-width: max-content;
    height: 32px;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 1.1rem;
}



.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 2;
    gap: 10px;
}
.search-panel form {
    flex: 1;
}


.profile-panel {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: start;
}

/* bottom header */


#big-profile-avatar {
    width: 80px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.buttons button {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--blue);
    border: 0;
    padding: 10px 30px;
    border-radius: 30px;
}


.header-bottom h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.header-bottom p {
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}


.header-bottom {
    margin: 20px 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}


.welcome-panel {
    flex: 1.5;
    display: flex;
    align-items: center;
    gap: 12px;
}

.welcome-message {
    flex: 1;
    min-width: 15ch;
}

.buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}


/* Header shadow */
.header {
    z-index: 2;
    box-shadow: 0 2px 5px -4px #000;
}

.sidebar {
    z-index: 1;
}

.main {
    z-index: 0;
}



/* *----------------------------* */
/* MAIN  */


.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";

}


.projects {
    grid-area: projects;
    padding: 25px 20px;
}

.announcements {
    grid-area: announcements;
    padding: 25px 20px;
}

.trending {
    grid-area: trending;
    padding: 25px 20px;
}

.main h4 {
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
}


.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.project-card {
    background-color: white;
    padding: 20px 20px;
    border: 0;
    border-radius: 8px;
    border-left: 7px solid var(--yellow);
}

.projects svg {
    width: 19px;
    height: auto;
    fill: black;
}

.main h5 {
    margin: 0;
}

.projects p {
    margin: 0;
    opacity: 0.5;
    margin-bottom: 45px;
}
.projects h5 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.project-actions {
    display: flex;
    justify-content: end;
    gap: 15px;
}



.announcements .card:not(:last-child) {
    border-bottom: 2px solid var(--gray);
    margin-bottom: 20px;
    
}

.announcements-cards {
    padding: 25px 20px;
    background-color: white;
    border-radius: 8px;
}

.announcements h5 {
    font-weight: 600;
    font-size: 1.1rem;

}

.announcements p {
    opacity: 0.5;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}


.trending img {
    width: 55px;
    height: auto;
    border-radius: 50%;
}

.trending-cards {
    background-color: white;
    padding: 25px 20px;
    border-radius: 8px;
}

.trending-cards .card {
    display: flex;
    align-items: cen;
    gap: 20px;
}

.trending-cards p {
    font-size: 1rem;
    opacity: 0.5;
    margin: 0;
}
.trending-cards h6 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

.trending-cards .card:not(:last-child) {
    margin-bottom: 25px;
}

button {
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #2689EB;
}

.project-card,
.trending-cards,
.announcements-cards {
    box-shadow: 1px 2px 5px -4px #000;
}


.projects svg {
    transition: fill 0.4s;
    cursor: pointer;
}

.projects svg:hover {
    fill: var(--yellow);
}